
django-allauth==0.44.0
requests==2.25.1
requests-oauthlib==1.3.0
gunicorn==20.1.0
pillow==8.3.1
psycopg2-binary==2.9.5
django-environ==0.9.0



absl-py==1.2.0



Django==4.1
django-environ==0.9.0
django-imap-backend==0.2.3
django-smtp-ssl==1.0
djangorestframework==3.14.0


google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0

grpcio==1.49.1
gunicorn==20.1.0


mypy-extensions==0.4.3
mysql-connector-python==8.0.31
mysqlclient==2.1.1
python-dateutil==1.16.0
