<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h3 {
        color: red;
      }

      body {
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzHvcjlrIA7TNWEJRDPzcMBzBe354cRXyfgg&usqp=CAU");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 110vh;
        width: 100%;
      }
    </style>
    <title>login</title>
  </head>
  <body>
    <h1>You have succesfully signed up</h1>
    <h2>Login here</h2>
    <form method="POST" action="Login">
      {% csrf_token %}
      <p>Username:</p>
      <input type="text" name="username" />
      <p>Password:</p>
      <input type="password" name="password" /></br>
      <!-- <p>Mobile Number:</p>
      <input type="number" name="phone" /><br /> -->
      <input type="submit" />
    </form>
    <button><a href="{% url 'register' %}">Back</a></button>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
  </body>
</html>
